*{
    padding: 0%;
    margin: 0%; 
    box-sizing: border-box;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body{
    background-image: url(../img/Gq.jpg);
    background-color: #444343;
    background-size: cover;
    max-height: 100%;
    background-attachment: fixed;
    flex-wrap: wrap;
    flex-direction: column;
}
.contenedorPadre{
    display: grid;
    grid-template-areas:  "header header header header"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "footer footer footer footer";
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 123px 350px 350px 350px;
    grid-gap: 10px;
}