header{
    width:100%;
    grid-area: header;
    border-bottom: whitesmoke solid 1px;
    .logo{
        display:flex;
        }
    .sombrero{
        float:right;
        transition: all 2s ease;
        height: 80%;
        padding-top: 10px;
            &:hover{
            transform: rotate(360deg);
            }
        }
     h1{
            margin-top:1%;
            padding-right: 10%; 
            color: $color-titulos; 
            text-align: left; 
            padding-left: 1%;
            a{
                color:$color-titulos;
                font-weight: normal;
                font-size: 25px;
                text-decoration: none;
                text-transform: uppercase;
                text-decoration: underline;
                font-family: 'Nunito Sans', sans-serif;         
            }
            &:hover{
                    transform: scale(1.0, 1.1);
                    text-decoration: none;
                    color:$color-titulos;
                }
        }
    nav{
          position: absolute;
           right: 0;
    }
    ul{
        padding: 1.25rem;
        li{
            list-style-type: none;
            display: inline-block;
            text-align: right;
            margin-right: 1.5rem;
        }
        a{
            color: $color-titulos;
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            padding-top: 30%;
            &:hover{
                    text-decoration: underline;
                    background-color: $color-titulos;
                    color: #616161;
                    padding: 5px;
                    transform: scale(1, 1);
                 }
        }
    }
}     
.menu{
    float:right;
    background-color: #444343;
    list-style-type: none;
    padding:0%;
    font-size: 110%;
    text-align: right;
    flex-wrap: nowrap;
    height: 55%;
}